<!--start basic-->
<app-todo-list></app-todo-list>

<app-login></app-login>

<app-user-list></app-user-list>

<app-student-list></app-student-list>

<app-country-list></app-country-list>

<app-login></app-login>

<!--events-->
<button (click)="getName('isha')">Click me!</button>
<br  />
<button (click)="getData('hello.!')">call</button>
<br  />
<input type = "text" #box (keyup)="getData(box.value)" placeholder="event keyup" />
<br  /><br   />
<input type = "text" #box2 (keydown)="getData(box2.value)" placeholder="event keydown" />
<br  />

<h1 (mouseover)="getData('over')">working with angular</h1>
<br   /><br   />
<input type="text" #box  placeholder="enter your name" name = "name" />
<button (click)="getName(box.value)"> clicksss</button>
<p>
    value is: {{displayVal}}
</p>

<!--counter-->
<h1>{{ title2 }}</h1>
<button (click)="counter('minus')">--</button> 
<p>Count: {{count}}</p>
<button (click)="counter('plus')">++</button>

<!--style-->
<h1 class="heading"> {{ title3 }}</h1>
<style>
    .heading{
        color:blueviolet;
    }
</style>

<!--property binding-->
<h1> {{title4}} </h1>
<input type="text" name="user-name" value={{name}} disabled="{{disable}}" >  <!--interpolation-->
<br   /> <br   />
<input type="text" name="user-name" [value]=name [disabled]=disable >    <!--property binding-->

<!-- if-else -->
<!-- <h1> {{title5}} </h1>
<h1 *ngIf="show; then ifBlock else elseBlock"></h1>
<ng-template #ifBlock>
    <h1>If Condition</h1>
</ng-template>
<ng-template #elseBlock>
    <h1>esle condition</h1>
</ng-template> -->

<!-- multiple conditions -->
<!-- <h1> {{title6}} </h1>
<ng-template [ngIf]="color==='red'">
    <h1 style="color:red">RED color</h1>
</ng-template>
<ng-template [ngIf]="color==='green'">
    <h1 style="color:green">GREEN color</h1>
</ng-template> -->

<!--switchcase-->
<!-- <h1> {{title7}} </h1>
<div [ngSwitch]="color">
    <h1 *ngSwitchCase="'red'" style="color:red;" >RED color</h1>
    <h1 *ngSwitchCase="'green'" style="color:green;" >GREEN color</h1>
    <h1 *ngSwitchCase="'blue'" style="color:blue;" >BLUE color</h1>
    <h1 *ngSwitchCase="'voilet'" style="color:violet;" >VOILET color</h1>
    <h1 *ngSwitchDefault="'red'"  >UNKNOWN color</h1>
</div> -->