<!-- header component -->
<app-header></app-header>
 
 
<h1> {{title11}} </h1>
 
<!--start basic-->
<app-todo-list></app-todo-list>
 
<app-login></app-login>
 

 
<!--events-->
<button (click)="getName('isha')">Click me!</button>
<br  />
<button (click)="getData('hello.!')">call</button>
<br  />
<input type = "text" #box (keyup)="getData(box.value)" placeholder="event keyup" />
<br  /><br   />
<input type = "text" #box2 (keydown)="getData(box2.value)" placeholder="event keydown" />
<br  />
 
<h1 (mouseover)="getData('over')">working with angular</h1>
<br   /><br   />
<input type="text" #box  placeholder="enter your name" name = "name" />
<button (click)="getName(box.value)"> clicksss</button>
<p>
    value is: {{displayVal}}
</p>
 
<!--counter-->
<h1>{{ title2 }}</h1>
<button (click)="counter('minus')">--</button>
<p>Count: {{count}}</p>
<button (click)="counter('plus')">++</button>
 
<!--style-->
<h1 class="heading"> {{ title3 }}</h1>
<style>
    .heading{
        color:blueviolet;
    }
</style>
 
<!--property binding-->
<h1> {{title4}} </h1>
<input type="text" name="user-name" value={{name}} disabled="{{disable}}" >  <!--interpolation-->
<br   /> <br   />
<input type="text" name="user-name" [value]=name [disabled]=disable >    <!--property binding-->
 
<!-- if-else -->
<h1> {{title5}} </h1>
<h1 *ngIf="show; then ifBlock else elseBlock"></h1>
<ng-template #ifBlock>
    <h1>If Condition</h1>
</ng-template>
<ng-template #elseBlock>
    <h1>esle condition</h1>
</ng-template>
 
<!-- multiple conditions -->
<h1> {{title6}} </h1>
<ng-template [ngIf]="color==='red'">
    <h1 style="color:red">RED color</h1>
</ng-template>
<ng-template [ngIf]="color==='green'">
    <h1 style="color:green">GREEN color</h1>
</ng-template>
 
<!--switchcase-->
<h1> {{title7}} </h1>
<div [ngSwitch]="color1">
    <p>Testing Switch Case </p>
    <h1 *ngSwitchCase="'red'" style="color:red;" >RED color</h1>
    <h1 *ngSwitchCase="'green'" style="color:green;" >GREEN color</h1>
    <h1 *ngSwitchCase="'blue'" style="color:blue;" >BLUE color</h1>
    <h1 *ngSwitchCase="'voilet'" style="color:violet;" >VOILET color</h1>
    <h1 *ngSwitchDefault>UNKNOWN color</h1>
</div>
 
<!--for loop-->
<h1> {{title8}} </h1>
<h3 *ngFor="let user of users" > Name is {{user}}.!</h3>
<h3 *ngFor="let detail of userDetails" >  {{detail.name}} -- {{detail.email}} -- {{detail.phone}}</h3>
 
<!--nested for loop-->
<h1> {{title9}} </h1>
<ul *ngFor="let user1 of users1">
    <li>Name: {{user1.name}}</li>
    <li>Phone: {{user1.phone}}</li>
    <li>social media accounts</li>
    <ul *ngFor="let account of user1.social">
        <li>{{account}}</li>
    </ul>
</ul>
 
<!--style binding....dynamic styling-->
<h1 [style.color]="color2" [style.backgroundColor]="bgcolor"> {{title10}} </h1>
<button (click)="updateColor()">Update Color</button>
 


<!-- basic form  -->
<!-- <h1> {{title12}}</h1>
 <form #Enrollment="ngForm" (ngSubmit)="getInfo(Enrollment)"> 

    <input type="text" ngModel name="patient" placeholder="enter patient name" />
    <br/><br/>
    <input type="text" ngModel name="measure" placeholder="enter measure" />
    <br/><br/>
    <input type="text" ngModel name="password" placeholder="enter your passwords" />
    <br/><br/>
    <button>Register</button>
    <br/> 
</form>  -->


<!--toggle element-->
<!-- <h1> {{title13}} </h1>
<button (click)="toggle()">Toggle</button>
<div *ngIf="shows">
    Heading tag
    <h1>Hello</h1>
    <h1>supp.?</h1>
    <h1>bye</h1>
</div>
<br/> -->

<!--to-do-list-->
<h1> {{title15}} </h1>
<input type="text" placeholder="enter task" #task />
<br/><br/>
<button (click)="addTask(task.value)">Add Task</button>
<br/><br/>
<ul *ngFor="let some of list">
    <li> {{some.fullName}} <button (click)="removeTask(some.id)">Remove</button></li>
</ul>


<!-- parent to child  -->
<h1> {{title16}} </h1>
<app-child [someItem]="someData"></app-child>
<button (click)="updateChild()">Update Child Component</button>
<br/>


<!-- resusing component -->
<h1> {{title17}} </h1>
<ul *ngFor="let user of userData">
    <app-user-list [use]="user"></app-user-list>  <!--child component-->
</ul>


<!-- child to parent -->
<h1>{{d}}</h1>
<app-patient (updateItemEvent)="updateItem($event)"></app-patient>
<br/><br/>


<!-- two way binding : updating and displaying property at the same time.-->
 <!-- <h1>{{title19}}</h1>
 <input type="text" [(ngModel)]="person"/>
 <h3>{{person}}</h3> -->

<!-- template reference variable -->
<h1>{{title20}}</h1>
<input type="text" #dem placeholder="enter some value"/>
<button (click)="getVal(dem.value)">Call function</button>
<br/><br/>


<!-- pipes -->
<h1>{{title21 | uppercase}}</h1>
<h1>{{title21 | lowercase}}</h1>
<h1>{{title21}}</h1>
<h2>{{today | date : 'fullDate'}}</h2>